* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Helvetica, sans-serif;
}
hr {
  width: 5rem;
  margin: 1rem auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, sans-serif;
}

/* Farben 
Grautürkis #4ad9cd
Leichtblau #7dcfd8      #7abed4
Mittelblau #67a9cb
Blau #3b85ab

Logo
#11132c
#2b2b5e
#5da3c9
#72bfbe
*/

/*--------------- Nav Section ---------------*/
header {
  background-image: url("bgk-header.png");
  background-attachment: top 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1rem;
}
nav a {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #757575;
}
.branding {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: fit-content;
  background: -webkit-linear-gradient(left, #4ad9cd 0%, #3b85ab 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.branding span {
  margin-left: 0.5rem;
}

/*--------------- Hero Section ---------------*/
#hero-section {
  padding: 5rem 0 7rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.hero-content {
  text-align: center;
  color: #f5f5f5;
  grid-column: 2/3;
}
.hero-content p {
  margin-bottom: 3rem;
}
.hero-content a {
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.7rem;
}
/*--------------- Our Story Section ---------------*/
#our-story-section {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr 0.5fr;
  align-items: top;
  column-gap: 2rem;
  color: #3b85ab;
}
#our-story-section img {
  grid-column: 2/3;
}
.story-content {
  margin-bottom: 4rem;
}
.story-content h2 {
  color: #11132c;
  margin-bottom: 1rem;
}
.story-content p {
  color: #2b2b5e;
  margin-bottom: 2rem;
}
.story-content a {
  border: 1px solid #5da3c9;
  border-radius: 3px;
  color: #5da3c9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.7rem;
}
/*--------------- Watch Section ---------------*/
#watch-section {
  height: 550px;
  background-image: url("bgk-middle.png");
  background-attachment: top 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}

/*--------------- Expertise Section ---------------*/
#expertise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  color: #2b2b5e;
}
#expertise-section h2 {
  color: #11132c;
}
.expertise-grid-container {
  /* width: 70%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.expertise-grid-item {
  padding: 1.5rem;
  height: 300px;
  width: 300px;

  border-top: 1px solid #5da3c9;
  border-left: 1px solid #5da3c9;
}
.expertise-grid-item:nth-child(-n + 2) {
  border-left: 1px solid #5da3c9;
}
.expertise-grid-item:nth-child(odd) {
  border-left: 1px solid #5da3c9;
}
.expertise-grid-item:nth-child(-n + 3) {
  border-top: none;
}
.expertise-grid-item:nth-child(3n + 1) {
  border-left: none;
}

.expertise-grid-item h3 {
  font-size: 0.8rem;
  font-weight: 800;
  margin: 1rem 0;
}

/*--------------- Team Section ---------------*/
#team-section {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-image: url("bgk-header.png");
  background-size: cover;
  align-items: center;
  padding: 3rem;
}

.meet-the-team {
  padding: 4%;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h3,
h4 {
  text-align: center;
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h4 {
  font-weight: lighter;
}

h6 {
  font-weight: lighter;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.box1,
.box2,
.box3,
.box4 {
  margin-right: 1rem;
  background-color: white;
  width: 20vw;
  height: 22vh;
  font-weight: bolder;
}
.box5,
.box6,
.box7,
.box8 {
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  width: 20vw;
  border: 0.5px solid white;
  text-align: center;
  padding: 1rem;
}
.button {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #5fc9c1;
  border: 1px solid;
  background-color: transparent;
  width: min-content;
  border-radius: 3px;
  padding: 0.7rem;
}

.join {
  text-align: center;
  padding: 3rem;
}
/*--------------- Contact Section ---------------*/
#contact-client-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 5rem;
  margin: 0 auto;
}

#news {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
}
.form-box {
  display: flex;
  flex-direction: column;
}
#form-input {
  font-size: 12px;
  padding: 0.8rem;
  width: 35vw;
  height: 1.5rem;
  border: solid 0.3px gray;
}

#form-message {
  font-size: 12px;
  padding: 0rem 3rem 3rem 0.8rem;
  width: 35vw;
  min-height: 5rem;
  border: solid 0.3px gray;
}
.input-box {
  padding: 0.7rem;
}
.button1 {
  margin: 0.5rem;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #5fc9c1;
  border: 1px solid;
  background-color: transparent;
  padding: 0.7rem;
  width: min-content;
  border-radius: 3px;
}

/*--------------- Client Section---------------*/
.title-footer {
  text-align: left;
  margin: 3rem 0rem 2rem 0rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.client {
  width: 35vw;
}
.clientbox {
  margin: 0rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.clientbox1 {
  display: flex;
  flex-direction: column;
}

.clientbox2 {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 15vw;
  padding: 1rem;
}
/*--------------- Footer ---------------*/
footer {
  color: white;
  background-image: url("bgk-footer.png");
  background-size: cover;
  padding: 7rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
.infobox {
  width: 24vw;
  font-size: smaller;
  padding: 0.6rem;
  line-height: 1.5rem;
}
.logo-name {
  display: flex;
  flex-direction: row;
}
#brand-name {
  padding: 2rem;
  font-size: 2rem;
  width: fit-content;
  background: -webkit-linear-gradient(left, #4ad9cd 0%, #3b85ab 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infotext {
  width: 20vw;
}

.studio {
  width: 24vw;
  font-size: smaller;
}

.text-studio {
  padding: 1rem;
  font-size: 15px;
  font-weight: 700;
  margin: 1rem 0rem 0rem 0rem;
}

.address {
  width: 20vw;
  line-height: 1.5rem;
}

.icon {
  margin: 0.3rem;
  padding: 0.5rem;
}
.phone {
  margin: 1rem 0rem 0rem 0rem;
}
.newsletter {
  width: 24vw;
  font-size: smaller;
}
.form-footer {
  display: flex;
  flex-direction: row;
}

.input-mail {
  width: 60vw;
  background-color: transparent;
  border: solid 0.3px gainsboro;
  min-width: 100px;
}
.input-mail::placeholder {
  color: gainsboro;
  font-size: 12px;
  align-items: center;
  padding: 1rem;
}
.paper-button {
  width: 20vw;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.4;
  border: none;
  margin: 0rem 0rem 0rem 0.5rem;
}
#paper {
  width: 2rem;
  padding: 0.3rem;
}
.social {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem 0rem 0rem;
  width: 20vw;
}
/*--------------- Nav-Footer ---------------*/
.nav-footer {
  margin: 4rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0.8rem;
}
.nav-bar {
  display: inline;
}
.nav-ul {
  gap: 1rem;
}
.nav-li {
  width: 5vw;
}
#copyright {
  display: flex;
  justify-content: flex-end;
  width: 45vw;
}

#copy-text {
  font-size: 11px;
  font-weight: 200;
  text-transform: inherit;
}
/*--------------- MediaQ ---------------*/
@media only screen and (max-width: 630px) {
  /*----- Adjusted Navbar -----*/
  nav {
    flex-direction: column;
    align-items: center;
  }
  .branding {
    margin-bottom: 1rem;
  }
  nav ul li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  /*----- Adjusted Story Section -----*/
  #our-story-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .story-content {
    margin-top: 2rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
  }

  /*----- Adjusted Expertise Section -----*/
  .expertise-grid-container {
    display: flex;
    flex-direction: column;
  }
  .expertise-grid-item {
    border: none !important;
  }
  .expertise-grid-item:not(:last-child) {
    border-bottom: 1px solid #5da3c9 !important;
  }
}

@media screen and (min-width: 631px) and (max-width: 970px) {
  .expertise-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .expertise-grid-item:nth-child(1) {
    border-top: none;
    border-left: none;
  }
  .expertise-grid-item:nth-child(2) {
    border-left: 1px solid #5da3c9;
    border-top: none;
  }
  .expertise-grid-item:nth-child(3) {
    border-top: 1px solid #5da3c9;
    border-left: none;
  }
  .expertise-grid-item:nth-child(4) {
    border-top: 1px solid #5da3c9;
    border-left: 1px solid #5da3c9;
  }
  .expertise-grid-item:nth-child(5) {
    border-top: 1px solid #5da3c9;
    border-left: none;
  }
  .expertise-grid-item:nth-child(6) {
    border-top: 1px solid #5da3c9;
    border-left: 1px solid #5da3c9;
  }
}
